<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
   integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
   crossorigin=""/>

   <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
   integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
   crossorigin=""></script>

   <script src="../Polyline.encoded.js"></script>


   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
   <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>


   <link rel="stylesheet" href="./styles.css">
   <script src="require.js"></script>
   <script src="index.js"></script>



<!--Start of the HTML Body-->
    <title>Your Info</title>
    <style>
        #runData {width: 40%; height: 30%;}
    </style>
</head>
<body>
    <h1>New Page</h1>
    <div id="runData">

    <label for="date">Select a running date</label>

    <select name="date" id="run_date" onchange="list()">

        <option value="">--Select--</option>
    </select>

    <div id="mapid"></div>



<!--Start of the Javascript-->
    <script src=".\runningDashboard\app.js"></script>
    <script src="../run_history.json"></script>

    


        <canvas id="chart" width="300" height="300"></canvas>
        <script>
            


            var theChart = document.getElementById('chart').getContext('2d');
            var theRunData = new Chart(theChart, {
                type: 'bar',
                data: {
                    datasets: [{
                        label: 'Run Distance in Kilometers',
                        data: [
                            `SELECT distance FROM run_data WHERE run_data.id = 76`
                        ],
                        borderColor: ['rgb(255,99,132)'],
                        backgroundColor: ['rgb(255, 99, 132, 0.2)']
                    }, {
                        label: 'Average Heart Rate',
                        data: [
                            `SELECT average_heartrate FROM run_data WHERE run_data.id = 76`
                        ],
                        borderColor: 'rgb(54, 162, 235)', 
                        type: 'bar',
                    }, {
                        label: 'Average Speed',
                        data: [
                           `SELECT average_speed FROM run_data WHERE run_data.id = 76`
                        ],
                        borderColor: 'rgb(54, 162, 145)',
                        type: 'bar',
                    }],
                    labels: ['2021-07-08', '2021-07-05', '2021-07-04', '2021-06-26', '2021-06-25', '2021-06-25', '2021-06-19', '2021-06-16', '2021-06-15', '2021-06-13', '2021-06-07', '2021-05-26', '2021-05-24', '2021-05-23', '2021-05-12', '2021-05-10', '2021-05-06', '2021-05-05', '2021-05-04', '2021-05-03', '2021-04-14', '2021-04-10', '2021-04-08', '2021-03-31', '2021-03-29']
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }}
                    
                });

//2D GIS map below
var map = L.map('mapid').setView([29.7858, -95.7700], 13);

L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
}).addTo(map);


axios.get('run_history.json')
.then(res=> {
    data = res.data;
    //loops through all data in JSON file and displays them on Leaflet map
    //Need to figure out how to individually select by running id as well
    
    for(i=0; i<data.length; i++){
        var theChart = document.getElementById('chart').getContext('2d');
            var theRunData = new Chart(theChart, {
                type: 'bar',
                data: {
                    datasets: [{
                        label: 'Run Distance in Kilometers',
                        data: [
                        data[0].distance
                        ],
                        borderColor: ['rgb(255,99,132)'],
                        backgroundColor: ['rgb(255, 99, 132, 0.2)']
                    }, {
                        label: 'Average Heart Rate',
                        data: [
                        data[0].average_heartrate
                        ],
                        borderColor: 'rgb(54, 162, 235)', 
                        type: 'bar',
                    }, {
                        label: 'Average Speed',
                        data: [
                        data[0].average_speed
                        ],
                        borderColor: 'rgb(54, 162, 145)',
                        type: 'bar',
                    }],
                    labels: ['Distance', 'Heart Rate', 'Speed']
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }}
                    
                });

        //add a dropdown menu
            $(function(){
                $.each(data, function(i, item){
                    $("#run_date").append("<option value =>" + data[i].start_date +"</option>");
                })
            })
        
        //add to map


        var coordinates = L.Polyline.fromEncoded(data[i].summary_polyline).getLatLngs()
        

        L.polyline(
            coordinates,
            {
                color:"green",
                weight: 5,
                opacity: .7,
                lineJoin: 'round'
            }

        ).addTo(map)
    }

     

     
    //console.log(res.data);
});
function list(){
    var x = document.getElementById("run_date").value;
    console.log(x);
}



                </script>
                </div>
</body>
</html>
