<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
   integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
   crossorigin=""/>
   <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
   integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
   crossorigin=""></script>
   <script src="../Polyline.encoded.js"></script>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
   <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
   <link rel="stylesheet" href="./styles.css">
   <script src="require.js"></script>
   <script src="index.js"></script>
   <script src="../run_history.json"></script>



<!--Start of the HTML Body-->
    <title>Your Info</title>
</head>
<body>
    <h1>Your Run Stats</h1>
    <div id="runData">
    <label for="date">Select a running date</label>
    <select name="date" id="run_date" onchange="list()">
    <option value="">--Select--</option>
    </select>
    <div id="mapid"></div>
    <div id="chartData">
        <canvas id="chart1" width="250px" height="250px"></canvas>
    </div>
        <script>
            axios.get('run_history.json')
            .then(res=> {
                data = res.data;
                for(i=0; i<data.length; i++){
                    var ctx = document.getElementById('chart1').getContext('2d');
                    var runData = new Chart(ctx, {
                            type: 'bar',
                            data: {
                                labels: ['Distance','Average Speed','Heart Rate'],
                                datasets: [{
                                    label: 'Run Stats',
                                    data: [data[0].distance, data[0].moving_time, data[0].average_heart_rate],
                                    borderColor: ['rgb(255,99,132)'],
                                    backgroundColor: ['#add8e6', '#d3d3d3', '#b0c4de']
                                }],
                                },
                            options: {}
                        });
                    }});
        </script>
        <script>
            //2D GIS map below
var map = L.map('mapid').setView([29.7858, -95.7700], 13);
L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
}).addTo(map);
axios.get('run_history.json')
.then(res=> {
    data = res.data;
    for(i=0; i<data.length; i++){
        //add a dropdown menu
            $(function(){
                $.each(data, function(i, item){
                    $("#run_date").append("<option value =>" + data[i].start_date +"</option>");
                })
            })
        
        //add to map
        var coordinates = L.Polyline.fromEncoded(data[i].summary_polyline).getLatLngs()
        L.polyline(
            coordinates,
            {
                color:"green",
                weight: 5,
                opacity: .7,
                lineJoin: 'round'
            }
        ).addTo(map)
    }
});
function list(){
    var x = document.getElementById("run_date").value;
    console.log(x);
}
    </script>
    </div>
</body>
</html>